<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% load static %}
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href={% static "css/bootstrap.css" %}>

    <title>Main_Page</title>
    <style>
        
    </style>
</head>
<body>
    <h1 style="text-align:center">RxRefund</h1><br>
             Dashboard Page<a href="http://127.0.0.1:8000/date/">  Click Here</a><br><br>
             Summary Page<a href="http://127.0.0.1:8000/summary/">   Click Here</a><br><br>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="js/bootstrap.bundle.js" charset="utf-8"></script>
    <script src="js/jquery.min.js" charset="utf-8"></script>
</body>
</html>